################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RainMyth
/x64/Debug
/RainMyth/x64
/RainMyth/x64/Debug
